{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{ super() }} Page not found{% endblock title %}

{% block header %}
	
{% endblock header %}

{% block main %}
	<div class="container mb-5 p-5">
	    <div class="row justify-content-center mt-5"> 
	    	<div class="col-md-6 text-center">
	    		<div class="display-4">
	    			<i class="fas fa-exclamation-triangle"></i><br>	
	    			<p>	404 Error</p>		
	    		</div>
	        	<div class="">
				  <p class="issa-header">Oops! Page not found. <br>	Looks like page you requested does not exist or has moved.</p>
				  <div class="text-center pb-5">
				  	<a href="{{ url_for('main.home')}}" class="btn btn-sm btn-link issa-header-bold">Go back home.</a>
				  </div>
				</div>
	        </div>
	    </div>
	</div>
{% endblock main %}

{% block footer %}
	{{ super() }}	
{% endblock footer %}

{% block scripts %}
	{{ super() }}
{% endblock scripts %}