{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{ super() }}{% endblock title %}

{% block header %}
	{{ super() }}
{% endblock header %}

{% block main %}
	{{ super() }}
	<!-- main page content -->
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<div class="pt-4">
				{% if activity is not none %}
					<div class="pb-4">
						<h5 class="issa-page-title font-weight-normal">Current challenge </h5>
					</div>
				    <div class="d-none challenge-loader text-center">
						<p class="text-muted h5">Loading a new challenge...</p>
						<img src="https://loading.io/spinners/typing/lg.-text-entering-comment-loader.gif" style="width: 160px;">
						<p class="text-muted h5">"Success is a choice."</p>
					</div>
				    <div class="card animated fast zoomIn delay-0.5s challenge-card">
					  <div class="card-body challenge-card-body">
					    <div class="container">
					    	<div class="row">
					    		<div class="col-lg-11">
							    	<div class=" text-success pb-4">
								    	<i class="fas fa-list-ul"></i>
								    	<small class="activity-timestamp">{{ moment(activity.timestamp).format('dddd, Do MMM YYYY') }} </small>
								    	<span class="float-right"><i class="fas fa-thermometer-half"></i><small> {{ activity.challenge.tags.tagname }}</small></span>
								    </div>
								    <div>
								    	<span class="h5 card-text activity-challenge">{{ activity.get_challenge_name() }}</span> <!-- display current user activity -->	
								    </div>
							    </div>
					    	</div>
					    </div>					    
					  </div>
					  <div class="pl-4 card-footer border-0 challenge-card-footer action">
					    <span class="p-2">
					    	<a href="#" class="btn text-success btn-sm font-weight-bold activity-action-btn" data-action='done' data-toggle="modal" data-target="#doneModalLong">
					    		<span data-toggle="tooltip" data-placement="bottom" title="Challenge completed ?"><i class="fas fa-check"></i> Done</span></a>
					    </span>
					    <span class="p-2">
					    	<a href="#" class="btn text-danger btn-sm font-weight-bold" data-toggle="modal" data-target="#skipModal"><span data-toggle="tooltip" data-placement="bottom" title="Not today ?">Skip</span></a>
					    </span>
					  </div>
					</div>
					<div class="p-sm-4 p-md-4 p-4 mt-5">	
						<div class="quote-container">
							{% if quote is not none %}    
								<div>
							      <p><i class="fas fa-quote-left fa-2x fa-pull-left"></i>{{ quote.content }} <br><span class="small font-italic text-muted">- {{ quote.author }}</span></p>
							    </div>
							{% else %}
								<div>
									<p>There is no challenge more challenging than the challenge to improve yourself. <br><span class="small font-italic text-muted">- Anonymous</span></p>
								</div>	
						    {% endif %}
						</div>
					</div>
				{% else %}
					<div class="card p-4 challenge-complete">
					  <div class="card-body challenge-complete-body">
					  	<h1 class="issa-header">Challenge completed!</h1>
					   	<i class="far fa-star display-3"></i>
					   	<p class="col-lg-8 m-auto pt-3 issa-header">You completed for the day.
					   		<br>
					   		Press the button below if you want more or we will send you a new challenge via email.
					   	</p>
					  </div>
					  <div class="card-body">
					  	<a class="btn btn-dark btn-sm p-2 text-light issa-header font-weight-normal activity-action-btn skip-modal-skip" data-dismiss="modal" data-action='skip'>Let's do this</a>
					  </div>
					</div>
					<p class="small p-3 text-center">If you don’t challenges yourself, you will never realize what you can become.</p>
				{% endif %}
				</div>
			</div>
		</div>
	</div>

	<!-- done modal -->
	<div class="modal" id="doneModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	  <div class="modal-dialog 	modal-dialog-centered" role="document">
	    <div class="modal-content done-modal-content">
	      <div class="modal-header border-bottom-0">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body m-auto">
	        <div class="">
	        	<div class="text-center text-light" style="font-size: 100px;">
	        		<h4>+3 points</h4>
	        		<div class="done-icon">
	        			
	        		</div>
	        		<h5 class="issa-page-title font-weight-normal">Well done! {{ current_user.username | capitalize}}</h5>
	        	</div>	
	        </div>
	      </div>
	      <div class="modal-footer bg-dark border-top-0">
	        <a class="btn btn-link font-weight-normal text-light" data-dismiss="modal">Close</a>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- skip modal -->
	<div class="modal" id="skipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content skip-modal-content">
	      <div class="modal-header border-bottom-0">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body p-4">
	        <div class="">
	        	<div class="text-center text-light" style="font-size: 100px;">
	        		<h5 class="issa-header font-weight-bold">Skip this challenge <i class="fas fa-angle-double-right"></i></h5>
	        	</div>
	        </div>
	      </div>
	      <div class="modal-footer border-top-0 bg-dark">
	        <a class="text-danger skip-modal-cancel btn font-weight-normal" data-dismiss="modal">cancel</a>
	        <a class="text-light font-weight-normal btn activity-action-btn skip-modal-skip" data-dismiss="modal" data-action='skip'>skip</a>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- welcome to issa challenge modal -->
	<div class="modal" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content welcome-modal">
	      <div class="modal-header border-bottom-0 bg-dark p-4">
	        <h5 class="issa-header font-weight-normal text-light">Welcome to Issa challenge </h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <div class="">
	        	<div>
	        		<ul class="list-group list-group-flush ">
					  <li class="list-group-item welcome-guide-list"> 
						  <div class="welcome-header" >📍 Challenge yourself</div>
						  <div class="ml-3 welcome-description small"><div>Complete one or more challenges daily.</div></div>
					  </li>
					  <li class="list-group-item welcome-guide-list"> 
						  <div class="welcome-header" >📍 Come back!</div>
						  <div class="ml-3 welcome-description small"><div>Let us know once your done with a challenge.</div></div>
					  </li>
					  <li class="list-group-item welcome-guide-list"> 
						  <div class="welcome-header" >📍 24 Hour Limit</div>
						  <div class="ml-3 welcome-description small"><div>If a challenge is not marked as done after 24 hours we give you another one.</div></div>
					  </li>
					  <li class="list-group-item welcome-guide-list"> 
						  <div class="welcome-header" >📍 Enjoy yourself. Grow</div>
						  <div class="ml-3 welcome-description small"> <div>These challenges are meant for your growth so take it easy and enjoy yourself.</div></div>
					  </li>
					</ul>
	        	</div>
	        </div>
	      </div>
	      <div class="modal-footer border-top-0">
	        <button type="button" class="btn btn-dark btn-sm get-started-button" data-dismiss="modal">continue</button>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock main %}

{% block footer %}
	{{ super() }}	
{% endblock footer %}

{% block scripts %}
	{{ super() }}

	<script type="text/javascript">
		
		// if user has not seen the get started modal then show it.
		{% if not current_user.get_started %}
		    $(window).on('load',function(){
		        $('#welcomeModal').modal('show');
		    });
		{% endif %}

	</script>
{% endblock scripts %}