{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{ super() }} {% endblock title %}

{% block header %}
	<div class="container">
    	<div class="mt-4">
		    <div class="row">
			  <div class="col form-inline">
		      		<img class="d-none d-sm-inline" style="width: 35px;" src="{{ url_for('main.static', filename='assets/warrior.png') }}">
		      		<h4 class="font-weight-normal "><a href="{{ url_for('main.landing')}}" class="text-dark issa-header">Issa challenge</a></h4>
		      </div>
			  <div class="col text-right m-auto">	
		      	<a class="p-2 text-dark mr-5 issa-header-bold" href="" data-toggle="modal" data-target="#accountModal">Login</a>
		  	</div>
		  </div>
		</div>			  	  
    </div>
{% endblock header %}

{% block main %}
	<div class="container m-auto">
		<div class="row">
			<div class="col-lg-10 m-auto">
				<div class="jumbotron p-3">
				  <div class="text-center">
				  	<h1 class="display-4 issa-header animated pulse delay-0.3s">Challenges lead to growth.</h1>
				  </div>
				  <div class="container m-auto">
					  <div class="row">
					  	<div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 justify-content-center">
					  		<p class="p-3 lead text-center">Get challenges that will stretch your your comfort zone and smash limiting beliefs like a true warrior.</p>
							<hr class="m-4">
							<p class="text-center issa-header small">“Do one thing every day that scares you.” — Eleanor Roosevelt</p>
							<div class="text-center">
								<a data-toggle="modal" data-target="#accountModal" class="btn btn-primary issa-header lets-button btn-lg delay-0.3s" href="#" role="button">Lets do this.</a>
							</div>
					  	</div>
					  </div>
				  </div>
				</div>	
			</div>	
		</div>
	</div>

	<!-- Modal -->
	<div class="modal" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-body">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <div class="text-center">
	        	<h3>Lets do this 🔥</h3>
	        	<form action="{{ url_for('api.login') }}" method="POST" >
	        		<input type="hidden" name="timezone" id="timezone">
	        		<button type="submit" class="btn btn-outline-primary">
			        	<img src="{{ url_for('main.static', filename='assets/google.svg') }}"> Continue with Google
			        </button>
	        	</form>
	        </div>
	      </div>
	      <div class="modal-body text-center">
	        <p>a life without challenges is boring.</p>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock main %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript">
		$(document).ready(function() {
			var animationEnd = 'animationend oAnimationEnd mozAnimationEnd webkitAnimationEnd';
			var animationName = 'animated tada'
			var element = 'a.lets-button' 

			setInterval(function(args) {
				$(element).addClass(animationName).one(animationEnd, function(event) {
					$(element).removeClass(animationName)
				});
			}, 5000)
		});

		(function(){
			var offset = new Date().getTimezoneOffset();
			$('#timezone').val(offset)
		}())
	</script>
{% endblock scripts %}