{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{ super() }} Better Everyday {% endblock title %}

{% block header %}
	<div class="container">
    	<div class="mt-4">
		    <div class="row">
			  <div class="col form-inline">
		      		<img class="d-none d-sm-inline" style="width: 35px;" src="{{ url_for('main.static', filename='assets/warrior.png') }}">
		      		<h4 class="font-weight-normal "><a href="{{ url_for('main.landing')}}" class="text-dark issa-header">Issa challenge</a></h4>
		      </div>
			  <div class="col text-right m-auto">	
		      	<a class="p-2 text-dark issa-header" href="{{ url_for('auth.login')}} ">Login</a>	
		      	<a class="p-2 text-dark mr-5 issa-header" href="{{ url_for('auth.register')}}">Sign up</a>
		  	  </div>
		  </div>
		</div>			  	  
    </div>
{% endblock header %}

{% block main %}
	<div class="container m-auto">
		<div class="row">
			<div class="col-lg-10 m-auto">
				<div class="jumbotron p-3">
				  <div class="text-center">
				  	<h1 class="display-4 issa-header animated pulse delay-0.3s">Better Everyday.</h1>
				  </div>
				  <div class="container m-auto">
					  <div class="row">
					  	<div class="col-lg-8 col-md-8 offset-lg-2 offset-md-2 justify-content-center">
					  		<p class="p-2 lead text-muted text-center">
					  			We give you small challenges you can incorporate into your day. The goal is to help you grow and become a better you. 💃🕺
					  		</p>
							<hr class="m-4">
							<p class="text-center issa-header small">“Do one thing every day that scares you.” — Eleanor Roosevelt</p>
							<div class="text-center">
								<a href="{{ url_for('auth.register') }}" class="btn btn-primary issa-header lets-button btn-lg delay-0.3s" href="#" role="button">Lets do this.</a>
							</div>
					  	</div>
					  </div>
				  </div>
				</div>
				<div>
					<div class="container">
						<div class="row p-3">
							<div class="col-md-10 m-auto">
								<div class="issa-screenshot text-center">
									<img class="landing-screenshot home-screenshot" src="https://lh3.googleusercontent.com/iUDzQ3ZrSIF4OKPqGowr60Dk_05oQ60d_ap7qKRWGjphFl2CVlDXXxJQWO3ADQ5zFcnGVaUz8DJfzdnlMGzWMoOty6ybb8GhE3g39GYLv1un-aM4mkrjKQVWDTRuCIZHmv34pU43Cw=w2400">
								</div>
							</div>
						</div>
						<div class="text-center">
							<p class="issa-header pt-4 h2 text-secondary">Simple but challenging.</p>
						</div>
						<div class="row pt-4 mb-3">
							<div class="row">
						      <div class="col-md-4 text-center">
						      	<h3>💎</h3>
						        <p class="issa-header-bold text-primary h4">Get challenged daily</p>
						        <p class="issa-header text-muted">We give you a challenge that you can incorporate into your day. Anything from read for 30 minutes to take you partner on a date.</p>
						      </div>
						      <div class="col-md-4 text-center">
						      	<h3>🥇</h3>
						        <p class="issa-header-bold text-primary h4">Earn points</p>
						        <p class="issa-header text-muted">Once your done with a challenge mark it as done. Earn points to get yourself motivate to complete more challenges.</p>
						      </div>
						      <div class="col-md-4 text-center">
						      	<h3>👁</h3>
						        <p class="issa-header-bold text-primary h4">Monitor your progress</p>
						        <p class="issa-header text-muted">Get a visual overview of your progress on a day-to-day basis as you complete more and more challenges. </p>
						      </div>
						    </div>
						</div>
						<hr>
						<div class="row p-5">
							<div class="col-md-8 m-auto">
								<div class="issa-screenshot text-center pb-2">
									<img class="landing-screenshot home-screenshot" src="https://lh3.googleusercontent.com/Zgch_lN97lqcIUdCZGSNePxtKw8RrkcJzbuwuIzdR1jiv7QrUQp3kitHjeZHiQgUkW9eEYSkEcEMC3Kk7QGEtbzHyhYmEKIQ3I_jkWW5iAQSvtUg3wRF8FiJvKooHdlC1Ho_k3woUQ=w2400">
								</div>
							</div>
							<div class="col text-center">
						        <p class="issa-header-bold text-primary h5">Progress overview</p>
						        <p class="issa-header text-muted">Once you complete a challenge you will be able to see in your daily progress overview.</p>
						      </div>
							</div>
						</div>
						<div class="p-4 text-center">
							<a data-toggle="modal" data-target="#accountModal" class="btn btn-primary issa-header lets-button btn-lg delay-0.3s" href="#" role="button">Lets do this.</a>
						</div>
					</div>
				</div>	
			</div>	
		</div>
	</div>
{% endblock main %}

{% block footer %}
	{{ super() }}
{% endblock footer %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript">
		$(document).ready(function() {
			var animationEnd = 'animationend oAnimationEnd mozAnimationEnd webkitAnimationEnd';
			var animationName = 'animated tada'
			var element = 'a.lets-button' 

			setInterval(function(args) {
				$(element).addClass(animationName).one(animationEnd, function(event) {
					$(element).removeClass(animationName)
				});
			}, 5000)
		});
	</script>
{% endblock scripts %}