{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} {{ super() }}{% endblock title %}

{% block header %}
	{{ super() }}
{% endblock header %}

{% block main %}
	{{ super() }}
	<div class="container ">
		<div class="row justify-content-center">
			<div class="col-md-7">
				<h4 class="issa-header mt-3">My profile</h4>
				<hr>	
				<div class="container">
					<div class="row">
						<div class="col-auto">
							<p>	<img src="{{ current_user.avatar }}" alt="User Avatar" class="useravatar"></p>
						</div>
						<div class="col-auto mt-4">
							<p>Joined {{ moment( current_user.dateJoined , local=True).fromNow() }}</p>
							<p>Joined {{ moment( current_user.dateJoined, local=False).fromNow() }}</p>
							<p>{{ moment().format('MMMM Do YYYY, h:mm:ss a')}}</p>
							<p>{{ moment(current_user.dateJoined).format('MMMM Do YYYY, h:mm:ss a')}}</p>
							<p>Completed {{ current_user.challenge_completed() }} challenges <span><a href="{{ url_for('main.dashboard') }}" class="small text-info"></a></span></p>
						</div>
					</div>
				</div>
				<table class="table table-borderless">
				  <tbody>
				  	<!-- personal information section -->
				  	<tr><td colspan="2" class="profile-section-label">Personal Information</td></tr>
				    <tr>
				      <td>Name</td>
				      <td><input type="text" disabled value="{{ current_user.username | title }}" class="form-control"></td>
				    </tr>
				    <tr>
				      <td>Email</td>
				      <td><input type="email" disabled value="{{ current_user.email }}" class="form-control"></td>
				    </tr>
				    <tr>
				      <td>Date joined</td>
				      <td><input type="text" disabled value="{{ current_user.dateJoined }}" class="form-control"></td>
				    </tr>
				    <!-- notification section -->
				    <tr><td colspan="2" class="profile-section-label">Notification</td></tr>
				    <tr>
				    	<td colspan="2">
				    		<div class="alert alert-primary" role="alert">
					    		<p class="small"><span class="font-weight-bold">NO SPAM!</span> Only when you're inactive for 24 hours (or more), we send you an email notification with a new challenge that you can complete.</p>
					    		<div class="form-check">
								  <input class="form-check-input receive-email" type="checkbox" {% if current_user.receiveEmail %} checked {% endif %} value="" id="defaultCheck1">
								  <label class="form-check-label receive-email-label" for="defaultCheck1">
								    subscriber to receive challenges via email.
								  </label>
								</div>
							</div>
				    	</td>
				    </tr>
				   </tbody>
				</table>
				
				<div class="container profile-action">
					<p><a href="#confirmDelete" class="text-danger delete-account" data-toggle="collapse" data-target="#confirmDelete" role="button"><i class="fas fa-trash"></i> delete account...</a></p>
					<div class="collapse" id="confirmDelete">
					  <div class="card card-body border-danger">
					   <div>
			   				<p>Deleting your account will cancel your subscription and delete everything tied to your account, including habits and activities.</p>

							<p>If you’re absolutely sure you want to delete your account, press delete account button below.</p>
                            <a class="btn btn-danger btn-sm" href="{{ url_for('main.delete_account') }}" role="button"> Delete account</a>
                        </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock main %}

{% block footer %}
	{{ super() }}	
{% endblock footer %}

{% block scripts %}
	{{ super() }}
{% endblock scripts %}