/**
	customize body
**/
* {
	font-family: 'Nunito', sans-serif;
}

body, div.jumbotron {
	background-color: #e6e8ed!important;
}

body .issa-header {
	font-family: 'Rubik', sans-serif;
}

body .issa-header-bold {
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
}

.modal-backdrop {
	opacity: 0.9!important;
}

body main {
	margin-top: 85px;
}

body div.issa-challenge-header {
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
	padding: .5rem!important;
	background-color: #171e39;
}

.card {
	border: 0;
}

img.landing-screenshot {
	box-shadow: 0 1px 8px 0 #3644526e; 
	width: 100%; 
	height: 100%; 
	border-radius: 8px;
}
/**
	base page:
**/

body a:hover {
	text-decoration: none!important;
}

div.container nav > a:hover {
	color: #999!important;
}

img.user-avatar {
	max-height: 1.75rem;
	border-radius: 50%; 
	cursor:pointer;
	border: 1px solid black;
}

/** profile page **/
img.useravatar {
	max-height: 6.75rem;
	border-radius: 50%;
	border: 2px solid #171e39;
}

a.delete-account  {
	cursor: pointer;
}

/**
	footer customization
**/

footer .fa-heart{
	color: crimson;
}

/**
	dashboard
**/
.flex-container {
	display: flex;
}

div.activity-bar-date {
    width: 55%;
    text-align: right;
}

div.activity-bar-container {
	margin:  8px 0px 0px 0px;
	width: 70%;
}

div.activity-bar-container .activity-bar {
	height: 50%;
	background-color: #54b364!important;
	border-radius: 4px;
	margin: 0 0 0 7px;
	width: 40%;
}

div.stats-box-container {
	border: 0;
	box-shadow: 0 3px 6px 0 #36445217;
}

div.issa-dashboard-nav a.nav-link.active{
	background-color: inherit;
	border: 1px solid #999999!important;
	font-weight: bold;
}
/**
	homepage
**/
.modal .welcome-guide-list, .modal .welcome-modal {
	background-color: #fffcef;
}

.modal .welcome-guide-list .welcome-header {
	font-weight: bold;
}

.container div.challenge-complete {
	text-align: center;
	background-color: #fffefe6b!important;
}

.modal div.done-modal-content , .modal div.skip-modal-content{
	background-color: #563d7c!important;
}

div.card.challenge-card, div.card.challenge-complete {
	border: 0;
	box-shadow: 0 3px 6px 0 #36445217;
}

div.card .challenge-complete-body {
	opacity: 0.8;
}


/**
	profile
**/
td.profile-section-label {
	font-weight: bold;
	color: #007bff;
}

