<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <style type="text/css">
        * {
            font-family: rubik, Helvetica;
        }
    </style>
</head>
<body>

<div style="background:#fff">
    <div style="background-color:#fff">
      
      <div style="margin:0px auto;max-width:600px">
        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%" align="center" border="0">
          <tbody>
            <tr>
              <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;padding-bottom:0px">
                
                <div class="m_-2469309412907482282mj-column-per-100 m_-2469309412907482282outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                  <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                    <tbody>
                      <tr>
                        <td style="word-break:break-word;font-size:0px;padding:10px 25px" align="center">
                          <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px" align="center" border="0">
                            <tbody>
                              <tr>
                                <td>
                                    <div style="color:#999;font-size:33px;font-weight:600;line-height:30px;text-align:center">
                                        <img src="https://i.redd.it/vahr5456cww01.jpg" style="width: 30px; height: 30px;">
                                        Issa challenge
                                      </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="word-break:break-word;font-size:0px;padding:10px 25px;padding-top:20px;padding-bottom:0px;padding-right:0px;padding-left:0px">
                          <p style="font-size:1px;margin:0px auto;border-top:1px solid #f8f8f8;width:100%"></p>
                          
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      
      
      <div style="margin:0px auto;max-width:600px;background:white">
        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:white" align="center" border="0">
          <tbody>
            <tr>
              <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;padding-bottom:0px">
                
                <div class="m_-2469309412907482282mj-column-px-500 m_-2469309412907482282outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                  <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                    <tbody>
                      <tr>
                        <td style="word-break:break-word;font-size:0px;padding:10px 25px" align="center">
                          <div style="color:#000000;font-size:25px;font-weight:600;line-height:30px;text-align:center">
                            
                            New challenge alert.
                            
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td style="word-break:break-word;font-size:0px;padding:10px 25px" align="center">
                          <div style="color:#324150;font-size:14px;line-height:22px;text-align:center">
                            We have a new challenge for you on Issa challenge.   
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div style="margin:0px auto;max-width:600px;background:white">
        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:white" align="center" border="0">
          <tbody>
            <tr>
              <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;padding-bottom:0px;padding-top:0px">
                
                <div class="m_-2469309412907482282mj-column-per-100 m_-2469309412907482282outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                  <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                    <tbody>
                      <tr>
                        <td style="word-break:break-word;font-size:0px;padding:10px 25px" align="center">
                          <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate" align="center" border="0">
                            <tbody>
                              <tr>
                                <td style="border:none;border-radius:3px;color:white;padding:10px 25px" align="center" valign="middle" bgcolor="#4283F4"><a href="" style="text-decoration:none;line-height:100%;background:#4283f4;color:white;font-size:18px;font-weight:normal;text-transform:none;margin:0px">
                                Go to the challenge
                                </a></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      
      <div style="margin:0px auto;max-width:600px;background:white">
        <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:white" align="center" border="0">
          <tbody>
            <tr>
              <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px">
                
                <div class="m_-2469309412907482282mj-column-px-500 m_-2469309412907482282outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%">
                  <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                    <tbody>
                      <tr>
                        <td style="word-break:break-word;font-size:0px;padding:10px 25px" align="center">
                          <div style="color:#324150;font-size:12px;line-height:22px;text-align:center">
                            If button doesn't work, please click <a href="" target="_blank">here</a> link or visit our website 
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  
<br><img src="https://ci5.googleusercontent.com/proxy/vx3Mpv9TZ67JfrhDEUlfO96EM-1IX3FGK70kGq3mHQCUTGovdBz0-C9gK97ffGXcaZdUI09ty40TAssajMdxWw-FvdzNcBQnnLSfmzmfsHhYOUeL4f3OSZz7_MtM1BmY32VA4mhaDtLh79JkuQvKHvUDIJtmtp5brrK4GpCn8q6W7hNXHeJx=s0-d-e1-ft#http://jkum.mjt.lu/oo/CAAAAAkcpswAAAAAAAAAAGiu8GQAAAAALIoAAAAAAAj1vABcESJzAhiJagW7SiqqrkzBV4mwQAAIf8k/f1af5de1/e.gif" height="1" width="1" alt="" border="0" style="height:1px;width:1px;border:0" class="CToWUd"><div class="yj6qo"></div><div class="adL">
</div></div>

</body>
</html>